/*  

Escudo Laminar Facial

*/

@import url("https://use.typekit.net/uxb2ifm.css");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: azo-sans-web, sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 2px #00000018;
    min-height: 100vh;
    hyphens: auto;
    background-color: #e4e3d7;
    color: #2c2a2a;
}

.container {
    display: grid;
    margin: 104px 4px 4px 4px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 200px;
    grid-gap: 4px;
    grid-auto-flow: dense;
}

section {
    padding: 1em;
    background-color: transparent; // dodgerblue;
    mix-blend-mode: multiply;
    border-radius: 2px;
}

h1,
h2 {
    text-transform: uppercase;
    hyphens: auto;
    mix-blend-mode: normal !important;
}

h1 {
    color: #e42847;
    font-weight: 800;
    margin: 0;
    writing-mode: vertical-rl;
    text-align: right;
    transform: rotate(180deg);
    font-size: 6rem;
    line-height: 5rem;
}

h2 {
    font-weight: 600;
    margin-top: 0;
}

.ead {
    font-family: alegreya, serif;
    font-weight: 400;
    font-style: normal;
}

.ead img {
    max-width: 80%;
    margin: 1em 10% 1em 10%;
}

.ead .small {
    font-size: 70%
}

.ead .iso {
    font-size: 2em;
}

.iso-escuela {
    text-align: left;
    display: inline-block
}

a {
    color: #e42847;
    text-decoration: none;
}

.nav {
    background-color: transparent;
    padding-top: 0;
}

.self {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.afl {
    display: flex;
    font-weight: 800;
    text-align: center;
}

.afl a {
    /* align-self: center; */
    object-fit: cover;
}

.afl>a>.logo {
    max-width: 50%;
    height: auto;
}

.lg {
    font-size: 1.5rem;
    font-weight: 300;
}

.lg strong {
    font-weight: 700;
}

.lg img {
    max-width: 100%;
    border-radius: 2px;
}

.col1 {
    grid-column: span 1
}

.col2 {
    grid-column: span 2
}

.col3 {
    grid-column: span 3
}

.row1 {
    grid-row: span 1
}

.row2 {
    grid-row: span 2
}

.row3 {
    grid-row: span 3
}

.header {
    margin-top: -100px;
    /* background-color: rgb(15, 88, 156); */
}

.files {
    /* background-color: rgba(255, 68, 0, 0.253); */
}

.thanks {
    /* background-color: rgba(2, 129, 255, 0.274); */
}

.orders {
    /* background-color: rgb(9, 60, 110); */
}

ul.check li {
    list-style-image: url(../img/check.svg);
}

ul.arrow li {
    list-style-image: url(../img/arrow.svg);
}

.button {
    border: 2px solid #e42847;
    background-color: transparent;
    padding: 1ex 1em;
    color: #e42847;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 13px;
}

.button:hover {
    color: #af162f;
    border: 2px solid #af162f;
    background-color: #e4284744;
}

.all {
    display: block;
    margin: -1em;
    padding: 1em;
    width: calc(100% + 2em);
}

.aviso {
    background-color: #ffffffad;
    padding: 2ex 3ex;
    border-radius: 5px;
    color: #e42847;
    text-shadow: none;
    border: 2px solid #e42847;
}

.all:hover {
    background-color: #e428474d;
}

.foto {
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    margin-bottom: 0;
}

.foto img {
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.u {
    text-decoration: underline;
}

footer {
    border-radius: 2px;
    margin: -4px 4px 0 4px;
    min-height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    /* background-color: rgb(15, 61, 107); */
}

footer p {
    height: 100%;
    font-size: 0.8em;
    max-width: 75%;
    margin: 2rem;
    text-align: center;
}

.start2 {
    grid-column-start: 2;
}


/******************************************** pantallas pequeñas */

@media only screen and (max-width: 800px) {
    body {
        margin-top: 104px;
    }
    h1 {
        font-size: 3rem;
        line-height: 2.7rem;
    }
    .container {
        display: block;
        margin: 4px;
    }
    section {
        margin-bottom: 4px;
        ;
    }
    .header h1 {
        writing-mode: horizontal-tb;
        transform: none;
    }
}